<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/booking.css">
</head>

<body>
    <div class="container">
        <nav>
            <div class="logo">
                Travel
            </div>
            <div class="menu">
                <div class="menu-button"></div>
            </div>
        </nav>
        <section>
            <div class="berthmenu">        
                <input type="button" value="Lower" class="lower-button" disabled>
                <input type="button" value="Upper" class="upper-button">
            </div>
            <ul class="showcase">
                <li>
                    <div class="seat"></div>
                    <small>N/A</small>
                </li>
                <li>
                    <div class="seat selected"></div>
                    <small>Selected</small>
                </li>
                <li>
                    <div class="seat booked"></div>
                    <small>Booked</small>
                </li>
            </ul>
            <div class="lower">
                Bus<br>
                <p style="font-size: calc(fit-content)" class="banner"></p>
                <div class="berth">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                </div>
                <div class="berth">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                </div>
                <div class="berth">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                </div>
                <div class="berth">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                </div>
                <div class="berth">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                </div>
            </div>
            <div class="upper">
                Bus <br>
                <p style="font-size: calc(fit-content)" class="banner"></p>
                <div class="berth">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                </div>
                <div class="berth">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat "></div>
                        <div class="seat"></div>
                    </div>
                </div>
                <div class="berth">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                </div>
                <div class="berth">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                </div>
                <div class="berth">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                </div>
            </div>
            <p>You Have Selected <span class="count">0</span> For Price Of Rs.<span class="total">0</span></p>
            <form action="/detailform" name="pay" method="POST">
                <input type="hidden" name="LSeat" value="">
                <input type="hidden" name="USeat" value="">
                <button type="submit">Pay <span class="total">0</span></button>
            </form>
        </section>
    </div>
    <script>
        let data={{result|tojson}};
        let value=JSON.parse(data);
        let banner=document.querySelectorAll('.banner');
        banner[0].innerHTML=value.From+" To "+value.To;
        banner[1].innerHTML=value.From+" To "+value.To;
        let Left=document.querySelectorAll(".lower .berth .row .seat");
        for(let i=0;value.Lower!=null && i<30;i++)
        {
            if(value["Lower"].indexOf(i)==-1)
            {
                Left[i].classList.toggle("booked");
            }
        }
        let Right=document.querySelectorAll(".upper .berth .row .seat");
        for(let i=0;value.Upper!=null && i<30;i++)
        {
            if(value["Upper"].indexOf(i)==-1)
            {
                Right[i].classList.toggle("booked");
            }
        }
        let Price=value.Price;
    </script>
    <script src="../static/booking.js"></script>
</body>

</html>